$primary-color: #007bff;
$secondary-color: #6c757d;

$namespace: 'sc' !default;

$block-sel: '-' !default;

$element-sel: '__' !default;

$modify-sel: '--' !default;

@mixin bfc() {
    height: 100%;
    overflow: hidden;
}

@mixin b($bn) {
    $name: $namespace + $block-sel + $bn;

    .#{$name} {
        @content;
    }
}

@mixin e($en) {
    $selector: &;

    @at-root {
        #{$selector + $element-sel + $en} {
            @content;
        }
    }
}

@mixin m($mn) {
    $selector: &;

    @at-root {
        #{$selector + $modify-sel + $mn} {
            @content;
        }
    }
}